<div class="card flex">
  <div
    class="flex flex-column justify-content-center card-container blue-container gap-3"
  >
    <div
      class="text-7xl bg-blue-500 text-white font-bold flex align-items-center text-left p-2"
    >
      Bonjour, je suis Jingyuan.
    </div>
    <div
      class="text-7xl bg-blue-500 text-white font-bold flex align-items-center text-left p-2"
    >
      Je suis un développeur.
    </div>
    <div
      class="text-lg bg-blue-500 text-white flex align-items-center text-left p-2"
    >
      J'ai 5 ans d'expérience chez Orange, BNP Paribas et AUSY dans les projets
      utilisant Java, Kotlin, Spring Boot et Angular
    </div>
    <div
      class="text-lg bg-blue-500 text-white flex align-items-center text-left p-2"
    >
      Je valorise avant tout la qualité du code, la collaboration entre les
      développeurs et la clarté de la communication entre les développeurs et
      les clients du projet.
    </div>
  </div>
</div>
