<div class="card flex">
  <div
    class="flex flex-column justify-content-center card-container blue-container gap-3"
  >
    <div
      class="text-6xl bg-blue-500 text-white font-bold flex align-items-center text-left p-2"
    >
      A propos de ce site
    </div>
    <div
      class="text-lg bg-blue-500 text-white flex align-items-center text-left p-2"
    >
      Ce site est destiné à la présentation personnelle et est propulsé par
      Angular, PrimeNG et Spring Boot.
    </div>
    <div
      class="text-lg bg-blue-500 text-white flex align-items-center text-left p-2"
    >
      Les nouvelles fonctionnalités sont en cours de construction.
    </div>
  </div>
</div>
